.container {
    display: flex;
    min-width: 80%;
    min-height: 80vh;
    position: absolute;
    background: transparent;
}

.img-map {
    position: absolute;
    top: 10;
    bottom: 10;
    left: 10;
    right: 10;
    /* mask-image: radial-gradient(circle, rgba(80,37,37,0) 20%, rgba(255,255,255,1) 23%);
    -webkit-mask-image: radial-gradient(circle, rgba(80,37,37,0) 20%, rgba(255,255,255,1) 23%); */
}

.img-camera {
    position: absolute;
    top: 20;
    left: 20;
}