#WhatWeDo {
    height: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a0;
    z-index: 100;
}

.motion-section {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    min-width: 700px;
}

.section {
    max-width: 900px;
    z-index: 100;
}

.title {
    font-family: 'Sofia Pro Soft Bold';
    color: #373947;
    font-size: 1.4em;
    line-height: 42px;
    will-change: transform;
}

.description {
    font-family: 'Sofia Pro Soft', sans-serif;
    color: #373947;
    font-size: 1em;
    line-height: 28px;
    font-weight: 400;
}

.joker-img {
    z-index: 99;
}

.joker-img:hover, :focus {
    animation: wiggle 0.8s linear 1;
    cursor: pointer;
}

@keyframes wiggle{
    0%{
        transform:scale(1, 1);
    }
    40%{
        transform:scale(1.4, 0.6)
    }
    52%{
        transform:scale(0.9, 1);
    }
    68%{
        transform:scale(1.1, 1);
    }
    80%{
        transform:scale(0.9, 1);
    }
    100%{
        transform:scale(1, 1);
    }
}