.tms-container {
    display: flex;
    height: 100vh;
    background-color: #fde3a0;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.tms-body {
    display: flex;
    width: 100%;
    max-width: 65%;
    height: max-content;
    align-items: flex-end;
    justify-content: center;
}

.carousel {
    flex: 1;
}

.carousel-content {
    display: grid;
    grid-template-columns: auto auto;
    height: 100%;
}

.content-container {
    display: 'flex';
    flex-direction: 'column'; 
    align-items: 'flex-start'
}

.tms-arrow {
    z-index: 1200;
    cursor: 'pointer';
    margin: 0 30px;
    cursor: pointer;
}

.tms-paragraph {
    width: auto;
    flex: 1;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0px;
    max-width: 90%;
    font-family: 'Sofia pro soft', sans-serif;
    color: #585858;
    font-size: 1.1em;
    line-height: 1.3em;
    font-weight: 300;
    text-align: left;
}

.tms-client {
    margin-bottom: 0px;
    font-family: 'Sofia pro soft', sans-serif;
    color: #d26066;
    font-size: 1.6em;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -0.02em;
    white-space: nowrap;
    margin-top: 30px;
}