#OurPlatforms {
    height: 100vh;
    min-height: 100vhs;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
    z-index: 10;
}

.title {
    font-family: 'Sofia pro soft', sans-serif;
    color: #373947;
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
}


.body {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    max-width: 1000px;
    flex-wrap: wrap;
}

.shake {
    padding: 0 20px;
}

.shake:hover, :focus {
    animation: bellshake .23s linear 5;
    cursor: pointer;
}

.shake:hover::before {
    background-color: red;
}

@keyframes bellshake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}
  
